<!DOCTYPE html>

<html lang="ES">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/popup.js"></script>
</head>

<body>
  <h4>Extensións recomendadas</h4>
  <nav>
    <h4>Videochat</h4>
    <div>
      <a href="https://chrome.google.com/webstore/detail/mute-tab/blljobffcekcbopmkgfhpcjmbfnelkfg" target="_blank">Mute
        Tab</a>
    </div>
    <div>
      <a href="https://chrome.google.com/webstore/detail/framelessapp-ext/peoodjkcnljekllfedckepfejklfomed"
        target="_blank">FramelessApp Ext</a>
    </div>
    <div>
      <a href="https://chrome.google.com/webstore/detail/google-meet-call-timer/pappcjmimkmjekiaiedkhfogpclanicb"
        target="_blank">Google Meet Call Timer</a>
    </div>

    <h4>Outras</h4>
    <div>
      <a href="https://chrome.google.com/webstore/detail/markdown-viewer/ckkdlimhmcjmikdlpkmbgfkaikojcbjk"
        target="_blank">Markdown Viewer</a>
    </div>
    <div>
      <a href="https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka"
        target="_blank">Eye Dropper</a>
    </div>
    <div>
      <a href="https://chrome.google.com/webstore/detail/clear-session/maejjihldgmkjlfmgpgoebepjchengka"
        target="_blank">Clear Session</a>
    </div>
    <div>
      <a href="https://chrome.google.com/webstore/detail/split-screen-for-google-c/dnollkdkikklpdganoecjcmmlddbennb"
        target="_blank">Split Screen for Google Chrome</a>
    </div>
  </nav>
</body>

</html>